.quiz-page-content {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 552px;
  margin: 0 auto;
}

.quiz-page-back {
  position: absolute;
  left: 75px;
  top: 36px;
}

.quiz-page-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 105%;
  margin-bottom: 25px;
  letter-spacing: -1px;
}

.page-quiz-img {
  width: 100%;
  max-height: 310.5px;
}

.quiz-page-difficulty {
  margin-top: 5px;
  position: relative;
  left: 240px;
  background-color: #65AAEA;
  border-radius: 12px;
  width: 72px;
  height: 24px;
  padding: 4px 16px;
  color: #F2F2F2;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-page-about {
  width: 100%;
}

.quiz-page-h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.5px;
  margin: 25px 0 4px 0;
}

.quiz-page-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.btn-quiz-page {
  margin-top: 35px;
}