.logo-pixel-quizzes {
  width: 418px;
  height: 375px;
  margin-right: 176px;
}

.no-margin-top {
  margin-top: 0;
}

.input-password {
  width: 100%;
  position: relative;
}

.eye-icon {
 position: absolute;
 top: 25%;
 right: 20px;
 scale: 1.3;
}
