@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --primary-color: #82327E;
  --cor_InkDark: #3C3A36;
  --cor_InkDarkGray: #78746D;
  --cor_InkGray: #BEBAB3;
  --cor_white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  color: var(--cor_InkDark);
}

.initial-pages-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.forms-content {
  display: flex;
  width: 552px;
  flex-direction: column;
  align-items: center;
}

.forms-content h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 105%;
  margin-bottom: 25px;
  color: var(--cor_InkDark);
}

.forms-content input {
  font-size: 16px;
  padding: 16px;
  width: 100%;
  height: 53px;
  border: solid 1px var(--cor_InkGray);
  border-radius: 12px;
  margin-bottom: 20px;
  color: var(--cor_InkDarkGray);
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin: 20px 0;
  text-decoration: none;
}

.link-button {
  width: 100%;
}

.btn {
  background-color: var(--primary-color);
  color: var(--cor_white);
  text-decoration: none;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 16px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: #954c92;
}

.forms-content p {
  color: var(--cor_InkDarkGray);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
}

.emptyProp {
  color: red;
}